.main-container {
    max-width: 1500px;
    margin: 0 auto;
}

.no-suppliers-message {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.header-title {
    text-align: center;
    background-color: #6e530041;
    padding: 20px;
}