.table {
    --bs-table-striped-bg: #ffc10741;
    border-radius: 10px;
}

.table-container {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 5vh;
}

thead {
    background-color: #6e530041;
}

.additional-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 40vh;
}

.additional-text {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;

}

.header-title {
    text-align: center;
    background-color: #6e530041;
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}